<div class="row mt-3">
  <div class="col-lg-6 offset-lg-3">
    <img class="img-fluid w-100 rounded mb-3" src="{{artwork.imgUrl}}" alt="Card image cap">
    <h2>{{artwork.name}}</h2>
    <div class="mt-n2 lead"><strong><em>{{artwork.title}}</strong></em></div>
    <div class="mt-n1 text-dark lead">{{artwork.desc}}</div>
  </div>
</div>
